@import "../../node_modules/govuk-frontend/dist/govuk/index";

.cpo-meeting-confirmation {
	background-color: govuk-colour("blue");
	overflow-wrap: anywhere;
}

.cpo-order-details {
	overflow-wrap: anywhere;
}

.cpo-link-button {
	border: 0;
	background: none;
	padding: 0;
	cursor: pointer;
}
