.govuk-custom-button{
    width: auto;
    display: inline-block;
  }
  .select-input:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
  }
  textarea:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
  }

  .file-upload-input input:focus {
    outline: 3px solid #fd0;
    box-shadow: inset 0 0 0 4px #0b0c0c;

  }